<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            @*<div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/pinterest-circle-logo-png-transparent.png" class="brand_logo" alt="Logo">
                </div>
            </div>*@
            <div class="d-flex justify-content-center form_container">
                <form>

                    <div class="input-group mb-3">
                      <span class="input-group-text" id="user-connect"><i class="fas fa-user"></i></span>
                      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="user-connect">
                    </div>
                     <div class="input-group mb-3">
                      <span class="input-group-text" id="user-password"><i class="fas fa-key"></i></span>
                      <input type="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="user-password">
                    </div>

                    <div class="form-check custom-checkbox">
                      <input class="form-check-input custom-control-input" type="checkbox" value="" id="ckRememberMe">
                      <label class="form-check-label custom-control-label" for="ckRememberMe">
                        Remember me
                      </label>
                    </div>

                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="button" name="button" class="btn login_btn btn-secondary">Login</button>
                    </div>
                </form>
            </div>

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="#" class="ml-2">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center links">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
