<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="r5ZrUy5zD_GSltD8CNySDTR45ypUqqLQWc6eZ6-Osio">
    <meta name="description" content="Freelance Développeur .NET/Web Fullstack" />
    <meta name="keywords" content="Freelance, Développeur, Fullstack, C#, .NET, Julien Gourdon" />
    <meta property="og:title" content="CV Julien Gourdon">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://jgdev.fr/images/banniere.jpg">
    <meta property="og:url" content="https://jgdev.fr/">
    <meta property="og:description" content="reelance Développeur .NET/Web Fullstack">

    <base href="/" />

    <link href="css/fontawesome/all.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="@InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="@InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>
</body>

</html>
