@page "/"
    <div class="">
        Home page
        @*<button onclick="testFileSystem()">test file system</button>

        <button onclick="loadIframe()">load iframe</button>

        <button onclick="retrieveFile()">retrieve file system</button>*@
    </div>
    <iframe id="myiframe" />