@inherits CustomBaseComponent
@inject IStringLocalizer<CvLang> L
<div class="cv-title title-lang">
    <i class="fas fa-language"></i>&nbsp;@L["Lang"]
</div>
<div class="langue-bloc">
    <div class="country">
        <img src="images/france.png" class="ico-lang" />
        <div class="progress-bar-container">
            <div class="progress-bar-content" style="width: 100%">
                100%
            </div>
        </div>
    </div>
    <div class="country">
        <img src="images/uk.png" class="ico-lang" />
        <div class="progress-bar-container">
            <div class="progress-bar-content" style="width: 90%">
                90%
            </div>
        </div>
    </div>
    <div class="country">
        <img src="images/spain.png" class="ico-lang" />
        <div class="progress-bar-container">
            <div class="progress-bar-content" style="width: 40%">
                40%
            </div>
        </div>
    </div>
</div>