<div class="cv-title">
    <i class="fas fa-graduation-cap"></i>&nbsp;Diplômes
</div>
<div class="diploma">
    <div class="school-timeline">
        <div class="school-timeline-item">
            <span class="text-nowrap">2012 : Master MIAGE</span>
        </div>
        <div class="school-timeline-item">
            <span class="text-nowrap">2010 : Licence Info Gestion</span>
        </div>
        <div class="school-timeline-item">
            <span class="text-nowrap">2009 : BTS informatique de gestion</span>
        </div>
    </div>
</div>